---
import Add from "../c/Add.svelte"
import Create from "../c/Create.svelte"
import Plus from "../c/Plus.svelte"
import Read from "../c/Read.svelte"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div>
			<!--client: elements interactive (hydrated) -->
			<Add client:load/>
			<Plus client:load/>
			<Create client:load/>
			<Read client:idle/>
		</div>
	</body>
</html>
